<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- <style>
        td{
            font-size: 11px;
        }
    </style> --}}
</head>

<body>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="./logo.png" style="width:100%; max-width:300px;">
            </div>
        </div>

        <div class="row">
            <div class="col right l7">
                <p>
                    Date : {{dateCreated}} <br>
                    To {{name}} <br>
                    {{!-- Due : {{dueDate}} <br> --}}
                    {{!-- Email : {{email}} --}}
                    Supplied By : {{ suppliedBy}}
                    For :  {{for}}

                </p>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col s12 l12 m12">
                <table>
                    <tr>
                        <th>Item</th>
                        <th>QTY</th>
                        <th>Price (R)</th>
                    </tr>
                    {{#each items}}
                    <tr> 
                        <td>{{this.name}}</td>
                        <td>{{this.qty}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td><h5>Total</h5></td>
                        <td></td>
                        <td><h5>R{{total}}</h5></td>
                    </tr>
                </table>
            </div>
        </div> --}}
    </div>
</body>

</html>